{% extends "spirit/_base.html" %}
{% load i18n%}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block head-extra %}
<link rel="stylesheet" href="/static/quiz/css/quiz.css">
<script type="text/javascript">
   function toggle_visibility(id) {
       var b = document.getElementById("solution_button");
       var e = document.getElementById(id);
       if(e.style.display == 'block'){
          e.style.display = 'none';
          b.innerHTML = "Show solution";
       } else {
          e.style.display = 'block';
          b.innerHTML = "Hide solution";
       }
   }
</script>
{% endblock %}
{% block content %}
{% if previous.answers %}

  <p class="muted"><small>{% trans "The previous question" %}:</small></p>
  <p>{{ previous.previous_question|safe }}</p>

  {% if previous.previous_outcome %}
	<div class="alert alert-success">
  {% else %}
	<div class="alert alert-warning">
  {% endif %}
  	  <p><small>
		{% trans "Your answer was" %} </small>
		<strong>
		  {{ previous.previous_outcome|yesno:"correct,incorrect" }}
		</strong>
	  </p>

	</div>

	{% include 'correct_answer.html' %}

	<p><strong>{% trans "Explanation" %}:</strong></p>
	<div class="well " style="background-color: #fcf8e3;">
	  <p>{{ previous.previous_question.explanation|safe }}</p>
	</div>

	<hr>

{% endif %}

<br />

{% if question %}

{% if progress %}
<div style="float: right;">
{% trans "Question" %} {{ progress.0|add:1 }} {% trans "of" %} {{ progress.1 }}
</div>
{% endif %}

<p>
  <small class="muted">{% trans "Question category" %}:</small>
  <strong>{{ question.category.category_display_name }}</strong>
</p>

<p class="lead">{{ question.content|safe }}</p>

{% if question.figure %}
    <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
{% endif %}

<form action="" method="POST">{% csrf_token %}
  <input type=hidden name="question_id" value="{{ question.id }}">

  <ul class="list-group">

	{% for answer in form.answers %}
	  <li>
	    {{ answer }}
	  </li>
	{% endfor %}

  </ul>
  <input type="submit" value={% trans "Check" %} class="button">
</form>
  <button id="solution_button" onclick="toggle_visibility('solution')" class="button" style="float:right;">Show solution</button>

<div id="solution" style="display:none;">
        <p><strong>{% trans "Explanation" %}:</strong></p>
        <div class="well " style="background-color: #fcf8e3;">
          <p>{{ question.explanation|safe }}</p>
        </div>
</div>
{% endif %}
<hr>

{% endblock %}
