{% extends "spirit/_base.html" %}
{% load i18n %}

{% block title %} Contact Us {% endblock %}
{% block head-extra %}
{% endblock %}

{% block content %}
{% if message %}
{{ message }}
{% endif %}
        <div id="contact_wrap">

        <div id="contact" class="clearfix">
            <div id="c_form">
                <br /><br />
                <form name="theform" action="." method="post" id="theform">
                    {% csrf_token %}
                    <div id="name_email">

                        <label id="id_name">Name:</label>
                        <input type="text" name="name" value="" id="name" />
                        <label id="id_email">Email:</label>
                        <input type="text" name="email" value="" id="Email" />
                    </div>
                    <br>
                    <div id="message">
                        <label id="id_message">Message:</label>
                        <textarea name="message" rows="8" cols="37"></textarea>

                    </div>
                    <br>
                    <div id="submit">
                        <button type="submit" class="button" onclick="YY_checkform('theform','name','#q','0','Field \'name\' is empty.','Email','#S','2','Field \'Email\' appears not to be valid.','message','2','1','Field \'message\' is empty.');return document.MM_returnValue" > Send </button>
                    </div>
                    <input class="hidden" type="hidden" name="topic" value="Home : Contact Form Submission" id="subject" />
                </form>

            </div>
        </div>

    </div>

{% endblock %}

