{% extends 'spirit/_base.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}
{% block head-extra %}
<link rel="stylesheet" href="/static/quiz/css/quiz.css">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
   <center><h4><a href="/quiz/progress/">Click here</a> to track your progress.</h4></center>
{% endif %}
<h2>{% trans "List of quizzes" %}</h2>
    {% if quiz_list %}
		<table>

		  <thead>
			<tr>
			  <th>{% trans "Title" %}</th>
			  <th>{% trans "Category" %}</th>
			  <th>{% trans "Exam" %}</th>
			  <th>{% trans "Single attempt" %}</th>
			  <th></th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz_list %}

  			<tr>
			  <td>{{ quiz.title }}</td>
			  <td>{{ quiz.category.category_display_name }}</td>
			  <td>{{ quiz.exam_paper }}</td>
			  <td>{{ quiz.single_attempt }}</td>
			  <td>
				<a href="{% url 'instructions_page' quiz_name=quiz.url slug=quiz.url %}">
				  {% trans "View details" %}
				</a>
			</tr>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>{% trans "There are no available quizzes" %}.</p>
    {% endif %}
{% endblock %}
