{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

    <h1 class="headline">{% trans "Login" %}</h1>

    <div class="login">
        <form action="." method="post">
            {% csrf_token %}
            {% include "spirit/_form.html" %}

            <input class="button" type="submit" name="post" value="{% trans "Login" %}" />
        </form>
    </div>

    <div class="login-links">
		<a class="login-link" href="{% url "spirit:user-register" %}">{% trans "Create an account" %}</a>
		<a class="login-link" href="{% url "spirit:password-reset" %}">{% trans "I don't know my password" %}</a>
        <a class="login-link" href="{% url "spirit:resend-activation" %}">{% trans "Resend activation email" %}</a>
	</div>

<hr>
<center>OR</center>
<br>
<a class="button" style="float:left; background:#3b5998" href="/accounts/login/facebook/">Login via Facebook</a>
<a class="button" style="float:right; background:#dd4b39;" href="/accounts/login/google/">Login via Google</a>

{% endblock %}
