{% extends "andablog/base.html" %}
{% load andablog_tags %}

{% block andablog_meta %}
    <meta name="description" content="{{ entry.title }}">
    <meta name="author" content="{{ entry.author.get_short_name }}">
{% endblock %}


{% block andablog_content %}
    {% if entry.get_previous_by_rank %}
    <a class="button" href="{{ entry.get_previous_by_rank.get_absolute_url }}">Previous</a>
    {% endif %}
    {% if entry.get_next_by_rank %}
    <a class="button" style="float:right" href="{{ entry.get_next_by_rank.get_absolute_url }}">Next</a>
    {% endif %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ entry.title }}{% if not entry.is_published %} <span class="label label-default">Draft</span>{% endif %}</h2>
        <p>
            {{ entry.content.raw|safe }}
        </p>

        {% include "andablog/comments_snippet.html" with comment_object=entry %}
    </div>
{% endblock %}
